<div class="masthead clearfix" style="z-index: 9999999999">
  <div class="inner">
    <h3 class="masthead-brand">SubtitlesGenerator</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li class="home"><%= link_to "Home", root_path %></li>
        <li class="about"><%= link_to "About", homes_about_path %></li>
        <li class="generate"><%= link_to "Generate", new_user_session_path %>
      </ul>
    </nav>
  </div>
</div>